body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
}
.caja1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(110, 225, 78);
}

.galeria img {
    margin: 10px;
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.imagenes{
    width: 370px;
    height: 370px;
}
