body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
}
.texto {
    justify-content: center;
    
}
.caja1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.caja2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.caja3 {
    width: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria img {
    margin: 10px;
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.imagenes{
    width: 370px;
    height: 370px;
}
.imagenes {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto suave */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.imagenes:hover {
    transform: scale(1.1) translateY(-5px); /* Aumenta el tamaño y mueve hacia arriba */
    box-shadow: 0 4px 15px rgba(4, 198, 252, 0.3); /* Sombra para dar efecto de profundidad */
}

.imagenes:active {
    transform: scale(0.95); /* Al hacer clic, reduce ligeramente el tamaño */
}

